<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @cocktail.name %></h1>
      <table class="table table-bordered">
        <div class="list-group">
        <% @cocktail.doses.each do |dose| %>
        <div class="container border m-2 p-2 bg-secondary">
          <div class="text-right text-muted">
            <%= link_to 'delete', dose_path(dose), method: :delete, data: {confirm: "Are you sure ?"} %>
          </div>
          <li class="list-group-item"> <%= dose.description %> </li>
          <li class="list-group-item mt-3"> <%= dose.ingredient.name%></li>
          <% end %>
        </div>
        </div>
      </table>
    </div>
  </div>
</div>

<%= link_to "Add a dose to the cocktail", new_cocktail_dose_path(@cocktail) %>
<br>
<%= link_to "Back to your list", cocktails_path %>
